__pycache__/
*.py[cod]
*$py.class

.DS_Store
Thumbs.db

.env
t.env

venv/
ENV/
env/
.venv/

.vscode/
.idea/
*.iml

*.service

.jup_cache/
.jup_logs/
.ipynb_checkpoints/

*.csv
*.pdf
*.xlsx
*.ods
*.odt
*.odp

*.spec
dist/
build/
*.egg-info/

*.session
*.session-journal

*~
*.bak
*.tmp
*.swp
*.so

*.log
!bot.log