TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TARGET_CHANNEL_ID=
RPC_URL=https://api.mainnet-beta.solana.com
PRIVATE_KEY=
PUBLIC_KEY=
DAILY_CAPITAL_USD=10.8
MAX_BUYS_PER_DAY=50
BUY_FEE_PERCENT=1.0
SELL_FEE_PERCENT=1.0
STOP_LOSS=-20
TAKE_PROFIT=40
GEMINI_API_KEY=
DRY_RUN=1
LOG_LEVEL=DEBUG
SESSION_NAME=sniper_session
TIMEZONE=UTC
DEXSCREENER_API="https://api.dexscreener.com/latest/dex/tokens"
CYCLE_LIMIT=50,50
TARGET_MULTIPLIER=1.4
TRADE_SLEEP_SEC=5.0
JUPITER_QUOTE_API="https://lite-jup.ag/ultra/v1/order"
JUPITER_SWAP_API="https://lite-jup.ag/ultra/v1/execute"
JUPITER_API_KEY="#apikey"
DEMO_BALANCE=30
REFERRAL_FEE_BPS=50 #minimum
REFERRAL_ACCOUNT=